@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Beiruti:wght@200..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

:root {

    /* ========== MAIN BRAND COLORS (FROM LOGO) ========== */
    --blue-primary: #1a5c8e;
    --blue-secondary: #276490;
    --blue-accent: #13609c;

    /* ========== DARK THEME BACKGROUNDS ========== */
    --bg-main: #0b1620;
    --bg-secondary: #0f1f2c;
    --bg-card: #132635;

    /* ========== HOVER / ACTIVE ========== */
    --blue-hover: #2c6fa1;
    --blue-light: #3c86bd;

    /* ========== TEXT COLORS ========== */
    --text-main: #ffffff;
    --text-secondary: #cfd8e3;
    --text-muted: #8fa3b8;

    /* ========== BORDERS ========== */
    --border-color: #24394a;
    --border-light: #355266;

    /* ========== SHADOWS ========== */
    --shadow-soft: 0 5px 20px rgba(0, 0, 0, 0.25);
    --shadow-blue: 0 0 15px rgba(26, 92, 142, 0.25);

    /* ========== GOLD (VERY SUBTLE) ========== */
    --gold-soft: #eeb830;
    --gold-glow: rgba(255, 183, 0, 0.25);

    /* ========== TRANSITION ========== */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: tajawal;
}

::-webkit-scrollbar-thumb {
    background: var(--text-muted);
}

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

button {
    cursor: pointer;
}

hr {
    border: none;
    height: 4px;
    width: 100%;
    background: linear-gradient(to left, transparent, var(--text-muted), transparent);
}

body {
    background: var(--bg-main);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: tajawal;
}

.section-title {
    color: var(--text-main);
    filter: drop-shadow(0 0 10px var(--gold-soft));
    text-align: center;
    padding: 15px;
    transition: 0.3s;
    text-transform: capitalize;
}

.section-title:hover {
    filter: none;
}

.btn-type-one {
    color: var(--blue-accent);
    background: transparent;
    border: 1px solid var(--blue-accent);
    transition: 0.3s;
}

.btn-type-one:hover {
    color: var(--bg-main);
    background: var(--blue-accent);
    border: 1px solid var(--bg-main);
}

.btn-type-two {
    color: var(--bg-main);
    background: var(--blue-accent);
    border: 1px solid var(--bg-main);
    transition: 0.3s;
}

.btn-type-two:hover {
    color: var(--blue-accent);
    background: transparent;
    border: 1px solid var(--blue-accent);
}

.buy-course-home-btn {
    font-weight: 700;
}

.buy-course-home-btn:hover {
    color: var(--bg-main);
    background: var(--gold-soft) !important;
    border: 1px solid transparent;
    transform: translateY(-3px);
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1400px;
    }
}

/* header */

header {
    background: var(--bg-secondary);
    width: 100%;
    height: 80px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 60px;
}

header .btns {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media (max-width: 640px) {
    header .btns {
        position: fixed;
        right: 0;
        top: 0;
        z-index: 2;
        background: var(--bg-card);
        height: 100vh;
        width: 0;
        flex-direction: column;
        gap: 0;
        overflow: hidden;
        transition: 0.3s;
    }

    html.ar header .btns {
        right: auto;
        left: 0;
    }

    header .btns.open {
        width: calc(100% - 52.5px);
    }
}

header button {
    padding: 10px 20px;
    min-width: 70px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 50px;
    background: transparent;
    color: var(--text-main);
    border: 2px solid var(--text-main);
    text-wrap: nowrap;
    transition: 0.3s;
}

@media (max-width: 640px) {
    header button {
        border-radius: 0;
        border: none;
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        font-size: 25px;
    }

    header .lang {
        border: 2px solid var(--text-main);
        width: fit-content;
        margin-top: 100px;
    }
}

header button:hover {
    color: var(--gold-soft);
    border-color: var(--gold-soft);
}

header i {
    color: var(--text-main);
    font-size: 30px;
    cursor: pointer;
    display: none !important;
    transition: 0.3s;
}

header i:hover {
    color: var(--gold-soft);
}

@media (max-width: 640px) {
    header i {
        display: block !important;
    }
}

/* main section style */

.main-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    top: 0;
}

.main-section .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 1024px) {
    .main-section .container {
        flex-direction: column;
        gap: 20px;
    }
}

.main-section .img {
    position: relative;
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    25% {
        transform: translate(5px, -8px) rotate(0.5deg);
    }

    50% {
        transform: translate(0px, -12px) rotate(0deg);
    }

    75% {
        transform: translate(-5px, -8px) rotate(-0.5deg);
    }

    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}

.main-section img {
    width: 600px;
}

@media (max-width: 1280px) {
    .main-section img {
        width: 500px;
    }
}

@media (max-width: 555px) {
    .main-section img {
        width: 400px;
    }
}

@media (max-width: 430px) {
    .main-section img {
        width: 340px;
    }
}

.main-section .img::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 7px;
    border-radius: 50px;
    background: var(--blue-light);
    animation: main-section-img-line 5s linear infinite alternate;
}

@keyframes main-section-img-line {
    0% {
        width: 100%;
    }

    10% {
        width: 50%;
    }

    20% {
        width: 100%;
    }

}

.main-section .container>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

@media (max-width: 1280px) {
    .main-section .container>div {
        gap: 20px;
    }
}

@media (max-width: 1024px) {
    .main-section .container>div {
        align-items: center;
        gap: 0;
    }
}

.main-section h1 {
    color: var(--text-main);
    font-size: 60px;
    font-weight: 100;
}

@media (max-width: 1280px) {
    .main-section h1 {
        font-size: 40px;
    }
}

.main-section h1 span {
    color: var(--blue-light);
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width: 1280px) {
    .main-section h1 span {
        font-size: 65px;
    }
}

.main-section h2 {
    font-size: 30px;
    font-weight: 200;
    text-transform: capitalize;
    color: var(--text-main);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media (max-width: 1280px) {
    .main-section h2 {
        font-size: 25px;
    }
}

@media (max-width: 430px) {
    .main-section h2 {
        font-size: 20px;
    }
}

.main-section h2 span {
    display: block;
    margin: 0 30px;
    font-weight: 800;
    font-size: 45px;
    color: var(--blue-light);
    text-transform: uppercase;
}

@media (max-width: 1280px) {
    .main-section h2 span {
        font-size: 60px;
    }
}

@media (max-width: 430px) {
    .main-section h2 span {
        font-size: 50px;
        margin: 0 10px;
    }
}

/* courses section */

main:first-of-type {
    background: var(--bg-secondary);
    width: 100%;
}

.main-courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-courses .courses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
}

.main-courses .courses .course {
    transition: 0.5s;
}

.main-courses .courses .course .img {
    width: 100%;
}

.main-courses .courses .course .img img {
    width: 100%;
    border-radius: 30px;
    border: 3px dashed var(--border-light);
    filter: contrast(80%);
    transition: 0.5s;
}

.main-courses .courses .course:hover .img img {
    filter: contrast(110%);
    transform: scale(0.9);
}

.main-courses .courses .course .details {
    transform: translateY(-80px);
    border-radius: 20px;
    width: 90%;
    background: var(--bg-main);
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    padding: 10px 5px;
    transition: 0.5s;
}

.main-courses .courses .course:hover .details {
    transform: translateY(-60px);
    width: 100%;
}

.main-courses .courses .course .details .header {
    width: 100%;
}

.main-courses .courses .course .details .header h1 {
    color: var(--text-muted);
    font-size: 22px;
    padding: 5px;
    text-transform: uppercase;
}

.main-courses .courses .course .details .header h2 {
    color: var(--text-main);
    font-size: 10px;
    font-weight: 300;
    padding: 5px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.main-courses .courses .course .details .center {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

.main-courses .courses .course .details .center .text {
    padding: 5px;
    flex-grow: 1;
    width: 100%;
}

.main-courses .courses .course .details .center .text p {
    color: var(--text-secondary);
    margin-bottom: 5px;
    font-size: 17px;
}

.main-courses .courses .course .details .center .text p::before {
    content: "* ";
    opacity: 0.5;
}

.main-courses .courses .course .details .center .btns {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.main-courses .courses .course .details .center .btns button {
    padding: 5px 10px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.main-courses .courses .course .details .footer {
    display: flex;
    align-items: center;
}

.main-courses .courses .course .details .footer .price {
    flex-grow: 1;
    padding: 0 5px;
    color: white;
}

.main-courses .courses .course .details .footer .price h1 {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 200;
}

.main-courses .courses .course .details .footer .price h1 span {
    font-size: 40px;
    font-weight: 600;
}

.main-courses .courses .course .details .footer .price h1 img {
    height: 20px;
    transform: translateY(-7.5px);
}

.main-courses .courses .course .details .footer .dates {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    padding: 0 5px;
}

.main-courses .courses .course .details .footer .dates p {
    padding: 0 5px;
    width: fit-content;
    color: var(--text-secondary);
}

footer {
    position: relative;
    top: 0;
}